doctype html

html(lang='en')
  head
    title 
    meta(charset='utf-8')
  body
    h1 Hello World! 

    if (user)
      h1 Welcome back #{user.username}
      a(href='/logout') Logout
    else
      h1 Please log in 
    
      form(action='/log-in', method='POST')
        label(for="username") Username
        input(name='username', placeholder='username', type='text')
        label(for='password') Password 
        input(name='password', type='password')
        button Log in
 
    hr
    a(href="/signup") Sign Up
